.cc-button {
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.cc-button {
  &-primary {
    color: #0d51ff;
    background-color: #e7eeff;
  }
  &-secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  &-small {
    font-size: 0.75rem;
    padding: 10px 16px;
  }
  &-medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  &-large {
    font-size: 1rem;
    padding: 0.75rem 2rem;
  }
}
