@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

.absolute-bottom-1 {
  position: absolute !important;
  bottom: 0.25rem !important;
}

.absolute-bottom-2 {
  position: absolute !important;
  bottom: 0.5rem !important;
}

a {
  text-decoration: none;
}

hr {
  width: 98.5%;
}

.expand-list {
  &-item {
    border-bottom: 2px solid $lightContentDividerColor;
  }
}

.expand-list-item:first-child {
  border-top: 2px solid $lightContentDividerColor;
}

// See https://codepen.io/saeedalipoor/pen/NPyeog (left/right are reversed)
[class*='icon-arrow'] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  box-sizing: border-box;
  &:after,
  &:before {
    content: '';
    box-sizing: border-box;
  }
}

// Examples: icon-arrow1-right-up, icon-arrow1-left
[class*='icon-arrow1'] {
  width: 0.75em;
  height: 0.75em;
  border-width: 2.75px 2.75px 0 0;
  border-style: solid;
  &:before {
    right: 0;
    top: -1.5px;
    position: absolute;
    height: 2.25px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 0.75em;
    transform-origin: right top;
  }
  &[class*='-right'] {
    transform: rotate(45deg);
    &[class*='-up'] {
      transform: none;
    }
    &[class*='-down'] {
      transform: rotate(90deg);
    }
  }
  &[class*='-left'] {
    transform: rotate(-135deg);
    &[class*='-up'] {
      transform: rotate(-90deg);
    }
    &[class*='-down'] {
      transform: rotate(180deg);
    }
  }
  &[class*='-up'] {
    transform: rotate(-45deg);
  }
  &[class*='-down'] {
    transform: rotate(135deg);
  }
}

.expand-arrow {
  transition: all 0.25s;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg) !important;

  &.active {
    transform: rotate(225deg) !important;
  }
}

.expand-content {
  &.expanded {
    visibility: visible;
    display: block;
  }
}

.radar-wrap {
  background-color: #fff !important;
  height: 20em;
  width: 26em;

  &-lg {
    background-color: #fff !important;
    height: 30em;
    width: 39em;
  }
}

.stats-accordion {
  .accordion-button {
    color: #ccc;
    &:not(.collapsed) {
      background-color: #333;
      color: #fff;
    }
  }
}

.characters-name-column {
  width: 13em;
}

.characters-game-column {
  width: 8em;
}

.text-sm {
  font-size: 0.75em;
}

.text-light {
  color: #bbb !important;
}

.grade {
  font-weight: bold;
  font-size: 1.5em;
  &-s {
    color: #00ccee !important;
  }
  &-a {
    color: #00ff00 !important;
  }
  &-b {
    color: #ffff00 !important;
  }
  &-c {
    color: #ff9900 !important;
  }
  &-d {
    color: #ff0000 !important;
  }
  &-u {
    color: #bbb !important;
  }
}
