@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

.radar-wrap {
  background-color: #fff !important;
  height: 14em;

  @media (max-width: 575.98px) {
    height: 22em;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 13em;
  }

  @media (min-width: 768px) and (max-width: 1199.98px) {
    height: 11em;
  }

  @media (min-width: 1200px) {
    height: 16em;
  }

  @media (min-width: 1400px) {
    height: 19em;
  }

  &-lg {
    background-color: #fff !important;
    height: 30em;
    width: 39em;
  }
}

.stats-accordion {
  .accordion-button {
    color: #ccc;
    &:not(.collapsed) {
      background-color: #333;
      color: #fff;
    }
  }
}

.characters-name-column {
  width: 13em;
}

.characters-game-column {
  width: 8em;
}

.text-sm {
  font-size: 0.75em;
}

.text-light {
  color: #bbb !important;
}

.grade {
  &-s {
    color: #00ccee !important;
  }
  &-a {
    color: #00ff00 !important;
  }
  &-b {
    color: #ffff00 !important;
  }
  &-c {
    color: #ff9900 !important;
  }
  &-d {
    color: #ff0000 !important;
  }
  &-u {
    color: #bbb !important;
  }
}

.bg-black {
  background-color: #000;
}

.navbar {
  z-index: 9999;
}

thead.sticky-top {
  top: 3.5em;
}

th {
  border: 1px solid #333 !important;
}

.img-fluid-wrap-sm {
  img {
    height: 12em;
  }
}

.img-fluid-wrap-md {
  max-width: 10em;
}

.stat-block {
  border: 1px solid #444;
  background-color: #222;
  border-radius: 4px;
  &-value {
    height: 15em;
    overflow-y: auto;

    @media (min-width: 992px) {
      height: 14em;
    }

    @media (min-width: 1400px) {
      height: 12em;
    }
  }
}

.game-character-block {
  border: 1px solid #444;
  background-color: #222;
  border-radius: 4px;
  height: 30em;
  &-value {
    height: 14em;
    overflow-y: auto;
  }
}

a {
  text-decoration: none;
}

.character-row {
  border: 1px solid #444;
  border-radius: 4px;
}

.character-tag {
  background-color: #222;
  border: 2px solid #444;
  font-weight: bold;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em;
  border-radius: 4px;
}
