@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

:root {
  --bs-body-font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

.radar-wrap {
  background-color: #fff !important;
  height: 14em;

  @media (max-width: 575.98px) {
    height: 22em;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 10em;
  }

  @media (min-width: 768px) and (max-width: 1199.98px) {
    height: 11em;
  }

  @media (min-width: 1200px) {
    height: 16em;
  }

  @media (min-width: 1400px) {
    height: 19em;
  }

  &-lg {
    background-color: #fff !important;
    height: 30em;
    width: 39em;
  }
}

.stats-accordion {
  .accordion-button {
    color: #ccc;

    &:not(.collapsed) {
      background-color: #333;
      color: #fff;
    }
  }
}

.characters-name-column {
  width: 13em;
}

.characters-game-column {
  width: 8em;
}

.text-sm {
  font-size: 0.75em;
}

.text-light {
  color: #bbb !important;
}

.grade-value {
  font-size: 1.8em;
  font-weight: bold;
  transition: font-size 0.3s linear;
}

.grade {
  &-s {
    color: #00ccee !important;
  }

  &-a {
    color: #00ff00 !important;
  }

  &-b {
    color: #ffff00 !important;
  }

  &-c {
    color: #ff9900 !important;
  }

  &-d {
    color: #ff0000 !important;
  }

  &-u {
    color: #bbb !important;
  }
}

.font-size-animation {
  transition: font-size 0.3s linear;
}

.character-name,
.stat-name {
  font-size: 1.2em;
  font-weight: bold;
  transition: font-size 0.3s linear;
}

.character-game,
.character-description {
  font-size: 1em;
  transition: font-size 0.3s linear;
  overflow-y: scroll;
}

.bg-black {
  background-color: #000;
}

.navbar {
  z-index: 9999;
}

thead.sticky-top {
  top: 3.5em;
}

th {
  border: 1px solid #333 !important;
}

.img-fluid-wrap-sm {
  img {
    height: 12em;
    transition: height 0.3s linear;
    @media (min-width: 992px) {
      height: 14em;
    }
    @media (min-width: 1400px) {
      height: 16em;
    }
  }
}

.img-fluid-wrap-md {
  img {
    height: 16em;
    transition: height 0.3s linear;
    @media (min-width: 992px) {
      height: 18em;
    }

    @media (min-width: 1400px) {
      height: 20em;
    }
  }
}

.stat-block {
  border: 1px solid #444;
  background-color: #222;
  border-radius: 4px;
  padding: 0.25em;
  margin: 0.25em;
  &-value {
    height: 10.5em;
    max-height: 10.5em;
    overflow-y: auto;
    scrollbar-width: thin !important;
    position: relative;
    transition: max-height 0.3s linear;

    &.animating {
      transition: max-height 0.3s linear;
    }
  }

  &-header-wrap {
    font-size: 1.1em;
    width: 65%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
  }
}

// Comparison mode
.character-details {
  .stat-block-value {
    height: 6em;
    max-height: 6em;
  }

  .character-description {
    height: 6em;
    max-height: 6em;
    overflow-y: auto;
  }

  .character-tag {
    background-color: #222;
    border: 2px solid #444;
    font-weight: bold;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    padding: 0.1em;
    border-radius: 4px;
    font-size: 0.8em;
  }
}

a {
  text-decoration: none;
}

.character-row {
  border: 1px solid #444;
  border-radius: 4px;
}

.character-tag {
  background-color: #222;
  border: 2px solid #444;
  font-weight: bold;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em;
  border-radius: 4px;
}

.tooltip {
  width: 12em;
}

.sticky-col {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 75vh;
  overflow-y: auto;
  scrollbar-width: thin !important;
}

.scrollable-col {
  height: 75vh;
  overflow-y: auto;
  scrollbar-width: thin !important;
}

.tooltip-cursor-help {
  cursor: help;
}

// Small UI state
.small-ui {
  .character-row {
    font-size: 0.95em;
  }

  .character-description {
    height: 8em;
    max-height: 8em;
    overflow-y: auto;
  }

  .radar-wrap {
    display: none;
  }

  .stat-block-header-wrap {
    flex-direction: row;
  }

  .stat-block-value {
    max-height: 6em;
  }

  .img-fluid-wrap-sm {
    img {
      height: 8em;
      @media (min-width: 992px) {
        height: 10em;
      }
      @media (min-width: 1400px) {
        height: 12em;
      }
    }
  }

  .img-fluid-wrap-md {
    img {
      height: 12em;
      @media (min-width: 992px) {
        height: 14em;
      }

      @media (min-width: 1400px) {
        height: 16em;
      }
    }
  }
}

// Compact UI state
.compact-ui {
  .character-row {
    font-size: 0.9em;
  }

  .character-description {
    height: 6em;
    max-height: 6em;
    overflow-y: auto;
  }

  .radar-wrap {
    display: none;
  }

  .stat-block-header-wrap {
    flex-direction: row;
  }

  .stat-block-value {
    max-height: 5em;
  }

  .img-fluid-wrap-sm {
    img {
      height: 4em !important;
      @media (min-width: 992px) {
        height: 6em !important;
      }
      @media (min-width: 1400px) {
        height: 8em !important;
      }
    }
  }

  .img-fluid-wrap-md {
    img {
      height: 8em !important;
      @media (min-width: 992px) {
        height: 10em !important;
      }

      @media (min-width: 1400px) {
        height: 12em !important;
      }
    }
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.stat-card {
  transition: all 0.3s ease;

  &.animate {
    transform: translateY(0);
  }
}

.character-details {
  .img-fluid-wrap-sm {
    img {
      height: 6em;
      @media (min-width: 992px) {
        height: 8em;
      }
      @media (min-width: 1400px) {
        height: 10em;
      }
    }
  }

  .img-fluid-wrap-md {
    img {
      height: 8em;
      @media (min-width: 992px) {
        height: 10em;
      }

      @media (min-width: 1400px) {
        height: 12em;
      }
    }
  }
}

.game-character-block {
  border: 1px solid #444;
  background-color: #222;
  border-radius: 4px;

  a {
    color: var(--bs-link-color);
  }
  &-value {
    height: 15em;
    overflow-y: auto;
    scrollbar-width: thin !important;

    @media (min-width: 992px) {
      height: 14em;
    }

    @media (min-width: 1400px) {
      height: 12em;
    }
  }
}
