$darkContentBackground: #272727;
$darkContentDividerColor: rgba(255, 255, 255, 0.0588235);
$darkContentPrimary: #FCFCFC;

$lightContentDividerColor: rgb(245, 245, 245);
$breadcrumb-item-padding-horizontal: 0.5rem;
